*  {
box-sizing:border-box;
}
*:before, *:after  {
box-sizing:inherit;
}
.container {
display: flex;
flex-direction: column;
text-align: center;
font-family:'BenchNine', sans-serif;
color:rgb(11, 58, 77);
background:linear-gradient(rgba(11, 58, 77, 0.2), rgba(94, 151, 146, 0.2) ); 
}

.wrapper {
display: flex;  
flex-direction: column;
flex-flow: row wrap;
justify-content: flex-start;
align-items: stretch;
background: linear-gradient( rgba(94, 151, 146, 0.6), rgba(11, 58, 77, 0.6) );

}  
.wrapper > * {
padding: 0;
flex: 1 100%;
}
.imagewrapper {/*fond haut*/
width:100%;
background:url("fond_vert.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  
}
.imageSectionBas {/*fond bas avant footer*/
width:50%;
background-position: center;
background-repeat:no-repeat;
background-size:cover;
}
.imageSection2 {/*fond feuille png*/
background:url("fond_feuilles.png");
background-position: center;
background-repeat:no-repeat;
background-size:cover;

}
h1 {
color:#eef3e9;
}
h2 {
color:  #bfcf60;
font-size:24px;
}
.row {
margin-right:-15px;
margin-left:-15px;
}
.img {
background-color:rgb(11, 58, 77);
}
.photo  {
filter: grayscale(0.2) opacity(0.7);
image-rendering: optimizeQuality;
width: 25%;
margin-top: 10px;
margin-bottom: 10px;  
} 
ul{
list-style: none;
align-items: center;
}
.interest {
text-align: center;
margin:auto;
}
.navMenu { 
display:flex;
flex-flow:row wrap;
justify-content: flex-end;
}
.navMenu  a { 
text-decoration: none;
display:block;
padding:1em;
color:#ebf3e2;
}
.navMenu a:hover {
background:  rgba(176, 246, 111, 0.5);
cursor:pointer;
border-radius: 1rem;
}     
.main { 
color:rgb(13, 29, 31);
font-size: 24px;
align-items: baseline;
text-align: center;
}
.info {
background-color: rgba(13, 29, 31,);
color:#ebf3e2;
}   
.cardsRealisations {
display:flex;
flex-direction:column;
flex-wrap:wrap;
align-items:stretch;    
}     
.card {
flex-wrap:0 0 200px;
margin: 10px;
border: 1px solid #0d1d1f; 
box-shadow: 2px 2px 6px 0px rgba(11, 58, 77, 0.5);
}
.card img {
max-width: 100%;
}
.card .text {
padding:0 20px 20px;
}

.button {
align-items: stretch;
background: rgba(11, 58, 77, .5);
border: 0;
border-radius: .3rem;
color: rgba(11, 58, 77, .5);
padding: .8rem;
margin:.3rem;
width: 5em;
transition-duration: 0.4s;
cursor:pointer;
}
 
.button:hover{
background-color: #bfcf60;
color:rgb(13, 29, 31);
} 
.btn{
background-color: #bfcf60;
color:rgb(13, 29, 31);
} 
.buttonImg{
background-image: url(Image_milieu.png);
padding: .8rem;
margin:.3rem;
width: 5em;
} 
p{
margin:0 auto;
font-size: 1.5em;
font-family: 'Raleway';
line-height: 1.5em;
color:#0d1d1f;
}

a {
color:#0B3A4D;
cursor:pointer;
font-size: 1em;
}
a:hover {
color:#bfcf60;
}

.form-group{
align-items: center;
color:#86959b;
font-family: "Raleway";
} 
.form-control{
display:block;
width: 100%;
padding:.5rem;
font-size:1rem;
color: #eef3e9;
border-radius: .3rem;
  
} 
.textarea { 
column-count:initial;
flex-direction:column;
overflow:visible;
} 

.footer p{ 
font-size:1.5em;
text-align:center;
background:linear-gradient(rgba(3, 36, 25, 0.9), rgba(11, 58, 77, 0.8) ); 
border:none;
}


/* @media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */
/* @media screen and (max-width: 600px) {
    .navMenu {
      justify-content: space-around;
    }
  } */
  
 /*  @media screen and (max-width: 600px) {
    .navMenu {
      flex-flow: column wrap;
      padding: 0;
    }
    .navMenu a { 
      text-align: center; 
      padding: 10px;
      border-top: .5px solid teal; 
      border-bottom: .5px solid teal; 
    }
    .navMenu li:last-of-type a {
      border-bottom: none;
    }
  }  
 */
  

@media(max-width:480px){
  
@media(max-width:767px){
  .container {
    flex-direction: column;
  }
  .navMenu {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media(min-width:768px){
  .card { flex: 1 0 0; }
} 
}
@media(min-width:992px){}

@media(min-width:1200px){}
  
  
/*   body {
    padding: 0; 
  } */